*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #333;
    color: #ae1b16;
    text-align: center;
}

header {
    background-color: #ae1b16;
    color: white;
    padding: 20px 0;
    font-size: 24px;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container .box {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.container .box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.container .box input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container .box button {
    background-color: #ae1b16;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.container .box button:hover {
    background-color: #ae1b16;
}

footer {
    background-color: #ae1b16;
    color: white;
    padding: 10px 0;
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
